<div class="main">
    <div class="chat">
        <div class="chat-area">
            <% unless @messages.blank? %>
            <% @messages.each do |message| %>
            <div class="chat-container">
                <div class="chat-text">
                    <p class="user-name"><%= message.user.name %><span class="date-time"><%= message.created_at.strftime("%Y/%m/%d(%a) %H:%M") %></span></p>
                    <p class="main-text"><%= message.content %></p>
                </div>
                <div class="chat-edit">
                    <ul>
                    <% if message.user_id == current_user.id %>
                        <li>
                            <%= link_to "edit", messages_edit_path(message.id) %>
                        </li>
                        <li>
                            <%= link_to "delete", messages_delete_path(message.id), method: :delete, data: {confirm: "削除しますか？"} %>
                        </li>
                    <% else %>
                    <% end %>
                    </ul>
                </div>
            </div>
            <% end %>
            <% else %>
                <div class="chat-container">
                    <p>No message yet.</p>
                </div>
            <% end %>
        </div>
    </div>
    <div class="chat-form">
            <%= form_with model: @message, url: messages_create_path, id: "new_message", local: true do |f| %>
                <%= f.text_field :content, class: "chatInput_textarea", placeholder: "ここにメッセージ内容を入力"  %>
                <%= f.submit "SEND", class: "send_button" %>
            <% end %>
    </div>
</div>